#stage {
  background: white;
  height: 600px;
  width: 600px;
  position: relative;
  overflow: hidden;
}

#search {
  text-align: center;
}

h1 {
  font-family: 'vaporized-bb';
  color: black;
  position: absolute;
  left: 145px;
  bottom: 285px;
  -webkit-animation: fadeInUp 6s infinite;
          animation: fadeInUp 6s infinite;
}

#one {
  letter-spacing: -10px;
}

#two {
  letter-spacing: -10px;
}

#three {
  letter-spacing: 138px;
}

#four {
  letter-spacing: -8px;
}

#five {
  letter-spacing: -5px;
}

@font-face {
  font-family: 'vaporized-bb';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1488101/vaporized-bb.italic.ttf");
}
.city {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  position: relative;
}

.city:hover {
  color: blue;
}

.largeblimp {
  position: relative;
  top: 50px;
  right: 410px;
  -webkit-animation: blimpright 20s linear infinite;
          animation: blimpright 20s linear infinite;
}

@-webkit-keyframes blimpright {
  0% {
    right: 570px;
  }
  100% {
    right: -700px;
  }
}

@keyframes blimpright {
  0% {
    right: 570px;
  }
  100% {
    right: -700px;
  }
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
.motorcyclist {
  -webkit-transform: scale(0.07);
          transform: scale(0.07);
  position: relative;
  top: -320px;
  right: -380px;
  -webkit-animation: motorcyclist 6s 1;
          animation: motorcyclist 6s 1;
}

@-webkit-keyframes motorcyclist {
  0% {
    right: -380px;
  }
  100% {
    right: 700px;
  }
}

@keyframes motorcyclist {
  0% {
    right: -380px;
  }
  100% {
    right: 700px;
  }
}
.birdman {
  width: 10%;
  height: 10%;
  position: relative;
  top: -620px;
  right: -320px;
  -webkit-animation: bounceUp 6s linear 1;
          animation: bounceUp 6s linear 1;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.couple {
  width: 13%;
  height: 13%;
  position: relative;
  top: -650px;
  right: -100px;
  -webkit-animation: bounceUp2 6s linear 1;
          animation: bounceUp2 6s linear 1;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.carriage {
  width: 20%;
  height: 20%;
  position: relative;
  top: -670px;
  left: 320px;
  -webkit-animation: slideIn 6s 1;
          animation: slideIn 6s 1;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes slideIn {
  0% {
    left: 1600px;
  }
  100% {
    left: 320px;
  }
}

@keyframes slideIn {
  0% {
    left: 1600px;
  }
  100% {
    left: 320px;
  }
}
@-webkit-keyframes bounceUp {
  0% {
    top: -400px;
  }
  100% {
    top: -620px;
  }
}
@keyframes bounceUp {
  0% {
    top: -400px;
  }
  100% {
    top: -620px;
  }
}
@-webkit-keyframes bounceUp2 {
  0% {
    top: -400px;
  }
  100% {
    top: -650px;
  }
}
@keyframes bounceUp2 {
  0% {
    top: -400px;
  }
  100% {
    top: -650px;
  }
}
