#stage{
    background: white;
    height: 600px;
    width: 600px;
    position: relative;
    overflow: hidden;
}
#search{
text-align:center;
}

h1{
  font-family: 'vaporized-bb';
  color:black;
  position: absolute;
  left: 145px;
  bottom: 285px;
  animation: fadeInUp 6s infinite;
}

#one{
  letter-spacing: -10px;
}

#two{
  letter-spacing: -10px;
}

#three {
  letter-spacing: 138px;
}

#four{
  letter-spacing: -8px;
}

#five{
  letter-spacing: -5px;
}
@font-face {
  font-family: 'vaporized-bb';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1488101/vaporized-bb.italic.ttf');
}

.city{
  transform: scale(.75);
  position: relative;
}
.city:hover{
  color: blue;
}

//blimp animation
.largeblimp{
  position: relative;
  top:50px;
  right: 410px;
  animation:
             blimpright 20s linear infinite;
}

@keyframes blimpright {
  
  0% {
       right: 570px;
    
  }
  
  100% { 
    right: -700px;
    
  }   
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
}

//motorcycle animations
.motorcyclist{
  transform: scale(.07);
  position:relative;
  top: -320px;
  right: -380px;
  animation: motorcyclist 6s 1;
}

@keyframes motorcyclist {
  
  0% {
       right: -380px;
  }
  
  100% { 
    right: 700px;
    
  }   
}

//people animations
.birdman{
  width: 10%;
  height: 10%;
  position: relative;
  top: -620px;
  right:-320px;
  animation: bounceUp 6s linear 1;
  transform-origin: 50% 50%;
}

.couple{
  width: 13%;
  height: 13%;
  position: relative;
  top: -650px;
  right:-100px;
  animation: bounceUp2 6s linear 1;
  transform-origin: 50% 50%;
}

.carriage{
  width:20%;
  height:20%;
  position: relative;
  top: -670px;
  left: 320px;
  animation: slideIn 6s 1;
  transform-origin: 50% 50%;
  
}

@keyframes slideIn{
  0%{
    left: 1600px;
  }
  
  100%{
    left: 320px;
  }
}

@keyframes bounceUp {
  0%{
  top: -400px;
  }
  
  100%{
    top: -620px;
  }
}


@keyframes bounceUp2 {
  0%{
  top: -400px;
  }
  
  100%{
    top: -650px;
  }
}