// External styling from: https://codepen.io/manikoth/pen/NNNBYe.css

/* Doodle Stage */
#stage {
  background: #fff;
  height: 300px;
  width: 600px;
  
  overflow:hidden;
}

container{
  display:flex;
  align-items:center;
  margin:0px;
  text-align: center;
  width:600px;
  height: 100px;
  
}

h1 {
  color: black;
  font-family: 'Spectral SC', 'extra-bold', serif;
  font-size:7em;
  text-transform: uppercase;
  position: relative;
  top: 10px;
}

#one {
  letter-spacing: 0px;
  position: relative;
  top: 18px;
}

#two {
  letter-spacing: 30px;  
}

#three {
  letter-spacing: 20px;  
}

#four {
  letter-spacing: 20px;  
}


//first frame
img{
  width:100px;
  height:100px;
  margin-top: 0em;
  margin-right:.25em;
  transition: 2s;
  position: relative;
  top:10px; 
}

//last frame
#stage:hover img{
  transform: scale(1) rotate(360deg);
 
}
//first frame
path {
  background: rgba(255,255,255,.35);
  transition: margin-top .5s ease-in-out;
  position: relative;
  transform: scale(.5) translate(250px, 500px);
}
//last frame
#stage:hover path{
  background: rgba(255,255,255,.35);
  transition: margin-top .5s ease-in-out;
  position: relative;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
  transform: scale(.45) translate(300px, 0px);
  
  overflow:hidden;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

//https://codepen.io/chriscoyier/pen/bGyoz 

/* path {
  stroke-dasharray: 100 ;
  stroke-dashoffset: 1;
  animation: dash 15s 2s 1 linear;
  transform: scale(.25) translate(800px, 300px);
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 1;
  }
}
*/